<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- JQuery -->
    <script crossorigin="anonymous"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <!--ref to css-->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/topojson.v1.min.js"></script>
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyAdUAqT9PRkg6x1mswnL-USnLjpgqDLxaA&callback"></script>    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.2/d3.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.1.min.js"></script>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <style>
      #svg1 {
      width: 1100;
      height: 600;
      margin: 0;
      padding: 0;
      }
      .stations, .stations svg {
      position: absolute;
      }
      .stations line {
      position: relative;
      stroke: black;
      stroke-width: 2px;
      }
      .links {
      //width: 100%;
      //height: 100%;
      position: relative;
      }
      .stations circle {
      fill: brown;
      stroke: black;
      stroke-width: 1.5px;
      }
      .stations svg {
      width: 1000px;
      height: 1500px;
      padding-right: 100px;
      font: 10px sans-serif;
      }
      #toggle {
      position: absolute;
      right: 15px; top: 15px;
      z-index: 100;
      }
      .map path {
      fill: #eee;
      stroke: #fff;
      stroke-width: 2;
      }
      .container-fluid {
      overflow: hidden;
      }
      .links line {
      stroke: red;
      stroke-opacity: 0.25;
      }
      .nodes circle {
      fill: #679;
      stroke: #235;
      stroke-width: 1.5;
      }
      div.tooltip {
      color: #222;
      background: #fff;
      border-radius: 3px;
      box-shadow: 0px 0px 2px 0px #a6a6a6;
      padding: .2em;
      text-shadow: #f5f5f5 0 1px 0;
      opacity: 0.9;
      position: fixed;
      }
      .background {
      fill: none;
      pointer-events: all;
      }
      #states {
      fill: #aaa;
      }
      #state-borders {
      fill: none;
      stroke: #000;
      stroke-width: 1.5px;
      stroke-linejoin: round;
      stroke-linecap: round;
      pointer-events: none;
      }
    </style>
</head>
<body>
<div class="form-popup" id="simulationForm">
  <form class="form-container" onsubmit="return false;" >
    <h1>Simulation</h1>

    <label for="Traffic originating Location"><b>Source Location</b></label>
    <input type="text" placeholder="Traffic originating Location Latitude, Longitude, ASN Number" id="sourceLocation" required>

    <label for="Traffic destination Location"><b>Destination Location</b></label>
    <input type="text" placeholder="Traffic destination Location Latitude, Longitude, ASN Number" id="destinationLocation" required>

    <button onclick="simulationTraffic()" type="submit" class="btn">Start Simulation</button>
    <button type="button" class="btn cancel" onclick="closeFormSim()">Close</button>
    <div class="slidecontainer">
        <label for="pathCost" id="pathCost"><b>Simulation Total Link Delay (RTT):</b></label>
    </div>

  </form>
</div>
<div class="form-popup" id="myFormAN">
    <form class="form-container" onsubmit="return false;">
        <h1>Add IXP Node</h1>
        <label for="Latitude1"><b>IXP Latitude</b></label>
        <input id="LatName1" placeholder="Enter IXP Latitude" required type="text">
        <label for="Longitude1"><b>IXP Longitude</b></label>
        <input id="LongT1" placeholder="Enter IXP Longitude" required type="text">
        <button class="btn" onclick="addIXPNode()" type="submit">Add IXP Node</button>
        <button class="btn cancel" onclick="closeFormAN()" type="button">Close</button>
    </form>
</div>

<div class="form-popup" id="myFormDN">
    <form class="form-container" onsubmit="return false;">
        <h1>Delete Node</h1>
        <label for="Latitude1"><b>IXP Latitude</b></label>
        <input id="NodeLat1" placeholder="Enter Node Latitude" required type="text">
        <label for="Longitude1"><b>IXP Longitude</b></label>
        <input id="NodeLongT1" placeholder="Enter Node Longitude" required type="text">
        <button class="btn" onclick="deleteNode()" type="submit">Delete Node</button>
        <button class="btn cancel" onclick="closeFormDN()" type="button">Close</button>
    </form>
</div>
<div class="form-popup" id="myFormAC">
    <form class="form-container" onsubmit="return false;">
        <h1>Add Connection</h1>
        <label for="Location1"><b>Location 1</b></label>
        <input id="Location1" placeholder="Latitude, Longitude, ASN Number" required type="text">
        <label for="Location2"><b>Location 2</b></label>
        <input id="Location2" placeholder="Latitude, Longitude, ASN Number" required type="text">
        <button class="btn" onclick="addConnection()" type="submit">Add connection</button>
        <button class="btn cancel" onclick="closeFormAC()" type="button">Close</button>
    </form>
</div>

<div class="form-popup" id="myFormDC">
    <form class="form-container" onsubmit="return false;">
        <h1>Remove Connection</h1>
        <label for="Location1"><b>Location 1</b></label>
        <input id="Loc1" placeholder="Latitude, Longitude, ASN Number" required type="text">
        <label for="Location2"><b>Location 2</b></label>
        <input id="Loc2" placeholder="Latitude, Longitude, ASN Number" required type="text">
        <button class="btn" onclick="deleteConnection()" type="submit">Delete connection</button>
        <button class="btn cancel" onclick="closeFormDC()" type="button">Close</button>
    </form>
</div>
<!-- <div id="map"></div> -->
<div class="d-flex align-items-start" id="wrapper">
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Menu</div>
        <div class="list-group list-group-flush">
            <button class="list-group-item list-group-item-action bg-light" href="#" id="addN" onclick="openFormAN()">
                Add IXP Node
            </button>
            <button class="list-group-item list-group-item-action bg-light" href="#" id="addC" onclick="openFormAC()">
                Add Connection
            </button>
            <button class="list-group-item list-group-item-action bg-light" href="#" id="deleteNode"
                    onclick="openFormDN()">Delete Node
            </button>
            <button class="list-group-item list-group-item-action bg-light" href="#" id="deleteCon"
                    onclick="openFormDC()">Delete Connection
            </button>
        </div>
    </div>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <button class="btn btn-primary" onclick="togglemenu()" id="menu-toggle1">Toggle Menu</button>
                    <button class="btn btn-primary" id="menu-toggle" onclick="openFormSim()">Simulation</button>
                    <a href="{{ url_for('index') }}"> <button class="btn btn-secondary" id="clear-graph">Switch to Visualization</button> </a>
                    <a href="{{ url_for('usermanual') }}" > <button class="btn btn-secondary" id="clear-grap">User Manual</button> </a>

                </li>
            </ul>
        </nav>
        <div class="container-fluid" id="tooltip">
            <div id="map" style="width:100%;height:500px;"></div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
<!-- <script src="https://unpkg.com/topojson@3/dist/topojson.min.js"></script> -->
<script>
      var dat = {{data|tojson}}; //Data read from the Database. This is parsed from main.py
      var nodes = []; //Array to hold the Nodes both ASN and IXP
      var links = []; //Array to hold links between all nodes
      var asn_links = []; // Array to hold links during simulation
      var asn_locations = [];
      var IXPnumber = 0; //IXP node numbering
      dichild = document.getElementById("map");
      var nodespluspos;
      console.log(dichild);
      var map;

//->>  Intializing the Google Map function
      function initmap() {
          map = new google.maps.Map(document.getElementById('map'), {
              zoom: 3,
              center: new google.maps.LatLng(34.5085, 8.7832),//centering the maps here.
              //mapTypeId: google.maps.MapTypeId.TERRAIN
          });
      }

      dataorig = dat[1];
      datalinksrew = dat[0];
      nodes.push(dataorig);
      links.push(datalinksrew);
      console.log(links);
      console.log(nodes)
      var k;
     var nodes_red = [] //Nodes Array

//Classes for the simulation.

   //Node class to hold the node information as the class diagram
      class Node {
          constructor(asn_number, pos, city) {
              this.asn_number = asn_number;
              this.pos = pos;
              this.city = city;
          }
      }

  //Class Link top hold information for the links.
      class Link {
          constructor(node1, node2) {
              this.source = node1;
              this.target = node2;
          }
      }

  //Helper class to handle node properties in the priority queue
      class Nodez {
          constructor(val, priority) {
              this.val = val;
              this.priority = priority;
          }
      }

 //Class to handle the Dijikstra of the nodes poping

      class PriorityQueue {
          constructor() {
              this.values = [];
          }
          enqueue(val, priority) {
              let newNodez = new Nodez(val, priority);
              this.values.push(newNodez);
              this.bubbleUp();
          }
          bubbleUp() {
              let idx = this.values.length - 1;
              const element = this.values[idx];
              while (idx > 0) {
                  let parentIdx = Math.floor((idx - 1) / 2);
                  let parent = this.values[parentIdx];
                  if (element.priority >= parent.priority) break;
                  this.values[parentIdx] = element;
                  this.values[idx] = parent;
                  idx = parentIdx;
              }
          }
          dequeue() {
              const min = this.values[0];
              const end = this.values.pop();
              if (this.values.length > 0) {
                  this.values[0] = end;
                  this.sinkDown();
              }
              return min;
          }
          sinkDown() {
              let idx = 0;
              const length = this.values.length;
              const element = this.values[0];
              while (true) {
                  let leftChildIdx = 2 * idx + 1;
                  let rightChildIdx = 2 * idx + 2;
                  let leftChild, rightChild;
                  let swap = null;

                  if (leftChildIdx < length) {
                      leftChild = this.values[leftChildIdx];
                      if (leftChild.priority < element.priority) {
                          swap = leftChildIdx;
                      }
                  }
                  if (rightChildIdx < length) {
                      rightChild = this.values[rightChildIdx];
                      if (
                          (swap === null && rightChild.priority < element.priority) ||
                          (swap !== null && rightChild.priority < leftChild.priority)
                      ) {
                          swap = rightChildIdx;
                      }
                  }
                  if (swap === null) break;
                  this.values[idx] = this.values[swap];
                  this.values[swap] = element;
                  idx = swap;
              }
          }
      }

      //Dijkstra's algorithm only works on a weighted graph.

      class WeightedGraph {
          constructor() {
              this.adjacencyList = {};
          }
          addVertex(vertex) {
              if (!this.adjacencyList[vertex]) this.adjacencyList[vertex] = [];
          }
          addEdge(vertex1, vertex2, weight) {
              this.adjacencyList[vertex1].push({
                  Nodez: vertex2,
                  weight
              });
              this.adjacencyList[vertex2].push({
                  Nodez: vertex1,
                  weight
              });
          }
          Dijkstra(start, finish) {
              const Nodezs = new PriorityQueue();
              const distances = {};
              const previous = {};
              let path = []; //to return at end
              let smallest;
              //build up initial state
              for (let vertex in this.adjacencyList) {
                  if (vertex === start) {
                      distances[vertex] = 0;
                      Nodezs.enqueue(vertex, 0);
                  } else {
                      distances[vertex] = Infinity;
                      Nodezs.enqueue(vertex, Infinity);
                  }
                  previous[vertex] = null;
              }
              // as long as there is something to visit
              while (Nodezs.values.length) {
                  smallest = Nodezs.dequeue().val;
                  if (smallest === finish) {
                      //WE ARE DONE
                      //BUILD UP PATH TO RETURN AT END
                      while (previous[smallest]) {
                          path.push(smallest);
                          smallest = previous[smallest];
                      }
                      break;
                  }
                  if (smallest || distances[smallest] !== Infinity) {
                      for (let neighbor in this.adjacencyList[smallest]) {
                          //find neighboring Nodez
                          let nextNodez = this.adjacencyList[smallest][neighbor];
                          //calculate new distance to neighboring Nodez
                          let candidate = distances[smallest] + nextNodez.weight;
                          let nextNeighbor = nextNodez.Nodez;
                          if (candidate < distances[nextNeighbor]) {
                              //updating new smallest distance to neighbor
                              distances[nextNeighbor] = candidate;
                              //updating previous - How we got to neighbor
                              previous[nextNeighbor] = smallest;
                              //enqueue in priority queue with new priority
                              Nodezs.enqueue(nextNeighbor, candidate);
                          }
                      }
                  }
              }
              return path.concat(smallest).reverse();
          }
      }

      draw(dataorig, datalinksrew);

      function draw(data, datalinks) {
          initmap(); //intialize the map
          asn_locations = data;
          asn_links = datalinks;
          //console.log(datalinks);
          //console.log(data);
          //traverse through the nodes.
          var b;
          for (b = 0; b < data.length; b++) {
              var lat = data[b].Latitude;
              var long = data[b].Longitude;
              var latLng = {
                  lat: parseFloat(lat),
                  lng: parseFloat(long)
              };

              nodes[b] = latLng;
              var asnnumber = data[b].ASN;
              var city = data[b].City;
              var node_new = null;
              //instantiate a new node
              node_new = new Node(asnnumber, latLng, city);
              //Add the node to the array
              nodes_red.push(node_new);
              var marker = new google.maps.Marker({
                  position: latLng,
                  sName: data[b].ASN,
                  map: map,
                  icon: {
                      path: google.maps.SymbolPath.CIRCLE,
                      scale: 2.5,
                      fillColor: "#F00",
                      fillOpacity: 0.4,
                      strokeWeight: 0.4
                  },
              });
              //create a information window.
              const infowindow = new google.maps.InfoWindow({
                  content: "<p>Marker Location:" + marker.getPosition() + "Asnnumber:" + asnnumber + "</p>"
              });
              marker.addListener("click", () => {
                  infowindow.open(map, marker);
              });
              infowindow.setPosition(latLng);

              // console.log("Am here");
          }

          console.log(nodes);
          console.log(datalinks);
          //traverse through the links.
          var p;
          var n = 0;
          for (p = 0; p < datalinks.length; p++) {
              var source;
              var target;
              var j;
              for (j = 0; j < nodes_red.length; j++) {
                  console.log("nikooona");
                  if (datalinks[p].Source_ASN == nodes_red[j].asn_number && datalinks[p].Source_City == nodes_red[j].city) {
                      source = nodes_red[j].pos;
                      //  console.log(source)
                  }

                  if (datalinks[p].Target_ASN == nodes_red[j].asn_number && datalinks[p].Target_City == nodes_red[j].city) {
                      target = nodes_red[j].pos;
                  }

              }

              //console.log(source);
              //console.log(target);
              var newLink = new Link(source, target);
              links[n] = newLink;

              var flightPlanCoordinates = [
                  source, target
              ];
              //create a flight path.
              var flightPath = new google.maps.Polyline({
                  path: flightPlanCoordinates,
                  geodesic: true,
                  strokeColor: '#FF0000',
                  strokeOpacity: 1.0,
                  strokeWeight: 1
              });

              flightPath.setMap(map);

              n += 1;
          }
          console.log(links);
          fav();

      }

     //This function redraws the topology whenever a change on Topology is detected.
      function redraw(nodesz, linksz) {
          console.log(linksz);
          fav();
          initmap();
          var b;
          for (b = 0; b < nodesz.length; b++) {
              var lat = nodesz[b].pos.lat;
              var long = nodesz[b].pos.lng;
              var asnnumber = nodesz[b].asn_number;
              var latLng = {
                  lat: parseFloat(lat),
                  lng: parseFloat(long)
              };
              var marker;
              //indicates if a node is an IXP
              if (asnnumber.substring(0, 3) == "IXP") {

                  var letter = String.fromCharCode("X".charCodeAt(0));
                  var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
                  marker = new google.maps.Marker({
                      position: latLng,
                      sName: newNode.ASN,
                      map: map,
                      icon: "http://maps.google.com/mapfiles/marker" + letter + ".png",
                      scale: 1.5
                  });
              } else {
                  marker = new google.maps.Marker({
                      position: latLng,
                      map: map,
                      icon: {
                          path: google.maps.SymbolPath.CIRCLE,
                          scale: 2.5,
                          fillColor: "#F00",
                          fillOpacity: 0.4,
                          strokeWeight: 0.4
                      },
                  });
              }
              const infowindow = new google.maps.InfoWindow({
                  content: "<p>Marker Location:" + marker.getPosition() + "Asnnumber:" + asnnumber + "</p>"
              });
              marker.addListener("click", () => {

                  infowindow.open(map, marker);
              });
              // console.log("Am here");
          }

          var bc;
          for (bc = 0; bc < linksz.length; bc++) {
              var latLng1, latLng2;
              if (linksz[bc].source != null && linksz[bc].target != null) {
                  latLng1 = {
                      lat: parseFloat(linksz[bc].source.lat),
                      lng: parseFloat(linksz[bc].source.lng)
                  };
                  latLng2 = {
                      lat: parseFloat(linksz[bc].target.lat),
                      lng: parseFloat(linksz[bc].target.lng)
                  };
              } else {
                  continue;
              }
              //console.log(latLng1);
              //console.log(latLng2);
              var flightPlanCoordinates = [
                  latLng1, latLng2
              ];
              var flightPath = new google.maps.Polyline({
                  path: flightPlanCoordinates,
                  geodesic: true,
                  strokeColor: '#FF0000',
                  strokeOpacity: 1.0,
                  strokeWeight: 1
              });

              flightPath.setMap(map);
          }
      }

     //Special function to animate the routing path highlighted on the topology.
      function animateCircle(line) {
          var count = 0;
          window.setInterval(function () {
              count = (count + 1) % 200;
              var icons = line.get('icons');
              icons[0].offset = (count / 2) + '%';
              line.set('icons', icons);
          }, 20);
      }

    //Forms action listener.
      function openFormAC() {
          document.getElementById("myFormAC").style.display = "block";
      }

      function closeFormAC() {
          document.getElementById("myFormAC").style.display = "none";
      }

      function openFormSim() {
          document.getElementById("simulationForm").style.display = "block";
      }

      function closeFormSim() {
          document.getElementById("simulationForm").style.display = "none";
      }

      function openFormAN() {
          document.getElementById("myFormAN").style.display = "block";
      }

      function closeFormAN() {
          document.getElementById("myFormAN").style.display = "none";
      }

      function openFormDC() {
          document.getElementById("myFormDC").style.display = "block";
      }

      function closeFormDC() {
          document.getElementById("myFormDC").style.display = "none";
      }

      function openFormDN() {
          document.getElementById("myFormDN").style.display = "block";
      }

      function closeFormDN() {
          document.getElementById("myFormDN").style.display = "none";
      }

      //Simulation functions.
      function addIXPNode() {
          var lati = document.getElementById("LatName1").value;
          var long = document.getElementById("LongT1").value;
          console.log(lati)
          console.log(long)
          newNode = {
              Name: "IXP",
              Long: parseFloat(long),
              Lat: parseFloat(lati)
          }

          //nodes.push(newnode);
          var latLng = {
              lat: parseFloat(lati),
              lng: parseFloat(long)
          };
          nodes.push(latLng);
          var IXP = "IXP";
          var b = IXP.concat(IXPnumber.toString());
          var nodepluspos = {
              IP: "",
              ASN: b,
              Longitude: long,
              Latitude: lati
          };
          asn_locations.push(nodepluspos);
          var newnode = new Node(b, latLng);
          nodes.push(latLng);
          nodes_red.push(newnode);
          //Call the redraw function after adding the IXP node.
          redraw(nodes_red, links);
          closeFormAN();
          IXPnumber = IXPnumber + 1;
          console.log(nodes);
      }

      function addConnection() {
          var location1 = document.getElementById("Location1").value;
          var location2 = document.getElementById("Location2").value;
          console.log(location1);
          console.log(location2);

          var loc1 = location1.split(',');
          var loc2 = location2.split(',');

          var latLng1 = {
              lat: parseFloat(loc1[0]),
              lng: parseFloat(loc1[1])
          };
          var latLng2 = {
              lat: parseFloat(loc2[0]),
              lng: parseFloat(loc2[1])
          };
          console.log(findNode(loc1[0], loc1[1]));
          console.log(findNode(loc2[0], loc2[1]));
          //check if the source and destination already exists in the topology
          if (findNode(loc1[0], loc1[1]) && findNode(loc2[0], loc2[1])) {
              var newlink = new Link(latLng1, latLng2);
              links.push(newlink);
              var sourcenodenumber = loc1[2];
              var targetnodenumber = loc2[2];
              var link = {
                  Source_ASN: sourcenodenumber,
                  Target_ASN: targetnodenumber
              }
              asn_links.push(link);
              //call the redraw function
              redraw(nodes_red, links);
          }
          else
          {
          //Alert the user that the nodes aren't already in the topology
              alert("Connection not already added. Add the connection first to proceed.");
          }

      }

     //Error checking for node existence before adding a connection between two nodes.
      function findNode(lat, long) {
          for (let index = 0; index < nodes.length; index++) {
              // console.log("Am in here300000000");
              //console.log(nodes[index].id);//trace
              //console.log(id.lat)
              //console.log(nodes[index])
              var values = Object.values(nodes[index]);
              //console.log(values)
              if (values[0] == lat && values[1] == long) {
                  return true;
                  break;
              }
          }
          return false;
      }

    //Deleting node function
      function deleteNode() {
          console.log(nodes);
          var lati = document.getElementById("NodeLat1").value;
          var long = document.getElementById("NodeLongT1").value;
          if (findNode(lati, long)) {
              for (let index = 0; index < nodes.length; index++) {
                  // console.log("Am in here300000000");
                  //console.log(nodes[index].id);//trace
                  //console.log(id.lat)
                  //console.log(nodes[index])
                  var values = Object.values(nodes[index]);
                  //console.log(values)
                  if (values[0] == lati && values[1] == long) {
                      //console.log(index);
                      // delete nodes[index];
                      nodes.splice(index, 1);
                      nodes_red.splice(index, 1);
                      console.log(index);
                  }
                  var der;
                  for (der = 0; der < links.length; der++) {
                      // latLng1 = {lat: parseFloat(links[der].source.lat), lng: parseFloat(links[der].source.lng)};
                      //latLng2 = {lat: parseFloat(links[der].target.lat), lng: parseFloat(links[der].target.lng)};
                      if (links[der].source != null && links[der].target != null) {
                          if (lati == links[der].source.lat && long == links[der].source.lng || lati == links[der].target.lat && long == links[der].target.lng) {
                              console.log(der);
                              links.splice(der, 1);
                              for (var c = 0; c < asn_locations.length; c++) {
                                  if (asn_locations[c].Latitude == lati && asn_locations[c].Longitude == long) {
                                      asn_locations.splice(c, 1);
                                  }
                              }

                          }
                      }
                  }


              }
              console.log(nodes_red);
              console.log(links);
              //Remove Links of the associated node.
              redraw(nodes_red, links);
              closeFormDN();
          } else {
              alert("Nodes not already added. Add the nodes first to proceed.");
          }

      }

      function deleteConnection() {
          var location1 = document.getElementById("Loc1").value;
          var location2 = document.getElementById("Loc2").value;
          console.log(location1);
          console.log(location2);

          var loc1 = location1.split(',');
          var loc2 = location2.split(',');

          var latLng1 = {
              lat: parseFloat(loc1[0]),
              lng: parseFloat(loc1[1])
          };
          var latLng2 = {
              lat: parseFloat(loc2[0]),
              lng: parseFloat(loc2[1])
          };
          console.log(findNode(loc1[0], loc1[1]));
          console.log(findNode(loc2[0], loc2[1]));
          if (findNode(loc1[0], loc1[1]) && findNode(loc2[0], loc2[1])) {
              var index;
              var tree;
              for (index = 0; index < links.length; index++) {
                  if (links[index].source != null && links[index].source.lat == loc1[0]) {
                      console.log(links[index]);
                  }
                  if (links[index].source != null && links[index].target != null && links[index].source.lat == loc1[0] && links[index].source.lng == loc1[1] && links[index].target.lat == loc2[0] && links[index].target.lng == loc2[1] ||
                      links[index].source.lat == loc2[0] && links[index].source.lng == loc2[1] && links[index].target.lat == loc1[0] && links[index].target.lng == loc1[1]) {
                      console.log(index);
                      tree = index;
                      links.splice(index, 1);
                      console.log("dopeunit");
                  }
              }
              links.splice(tree, 1);
              console.log(links);
              console.log(asn_links);
              redraw(nodes_red, links);
          } else {
              alert("Connection not already added. Add the connection first to proceed.");
          }
      }

      function simulationTraffic() {
          var location1 = document.getElementById("sourceLocation").value;
          var location2 = document.getElementById("destinationLocation").value;
          var loc1 = location1.split(',');
          var loc2 = location2.split(',');
          var latLng1 = {
              lat: parseFloat(loc1[0]),
              lng: parseFloat(loc1[1])
          };
          var latLng2 = {
              lat: parseFloat(loc2[0]),
              lng: parseFloat(loc2[1])
          };
          const lineSymbol = {
              path: google.maps.SymbolPath.CIRCLE,
              scale: 8,
              strokeColor: "#393"
          };
          var graph = addgraphNodes(asn_locations, asn_links);
          var sourcenodenumber, targetnodenumber;
          sourcenodenumber = loc1[2];
          targetnodenumber = loc2[2];
          var lineoptions = [];
          console.log(graph);
          var b = graph.Dijkstra(loc1[2], loc2[2]);
          var index1, index;
          document.getElementById('pathCost').innerHTML = 50
          for (index1 = 0; index1 < b.length; index1++) {
              for (index = 0; index < nodespluspos.length; index++) {
                  if (nodespluspos[index].nodenumber == b[index1]) {
                      var latLng1 = {
                          lat: parseFloat(nodespluspos[index].pos.lat),
                          lng: parseFloat(nodespluspos[index].pos.lng)
                      };
                      lineoptions[index1] = latLng1;
                      break;
                  }

              }
          }
          // get the total link delay
          var totaldelay = 0;
          for (index1 = 0; index1 < lineoptions.length - 1; index1++) {
              var weight = 1609.34 * 2 * (haversine_distance(lineoptions[index1], lineoptions[index1 + 1])) / (300000000);
              totaldelay = totaldelay + weight;
          }
          document.getElementById('pathCost').innerHTML = "Simulation Total Link Delay (RTT): " + parseFloat((totaldelay * 1000).toFixed(4)) + "  Milliseconds";
          console.log(lineoptions);
          var arr = ["#008000", "#0000A0", "#33FF46", "#4D3DC1", "#A31CFB"];
          var flightPath = new google.maps.Polyline({
              path: lineoptions,
              geodesic: true,
              strokeColor: arr[Math.floor(Math.random() * arr.length)],
              strokeOpacity: 1.0,
              strokeWeight: 1,
              icons: [{
                  icon: lineSymbol,
                  offset: "100%"
              }]
          });

          flightPath.setMap(map);
          animateCircle(flightPath);
      }

      //Create a graph from the ASN node for Dijikstra purposes
      function addgraphNodes(asnnodes, asnlinks) {
          console.log(asn_links);
          console.log(asn_locations);
          nodespluspos = [];
          var graph = new WeightedGraph();
          var index;
          for (index = 0; index < asnnodes.length; index++) {
              var nodepluspos = {
                  nodenumber: asnnodes[index].ASN,
                  pos: {
                      lat: asnnodes[index].Latitude,
                      lng: asnnodes[index].Longitude
                  }
              }
              nodespluspos[index] = nodepluspos;
              graph.addVertex(asnnodes[index].ASN);
          }
          console.log(nodespluspos);
          var index2;
          for (index2 = 0; index2 < asnlinks.length; index2++) {
              if (asnlinks[index2].Source_ASN != null && asnlinks[index2].Target_ASN != null) {
                  var index3;
                  //console.log("AMHERERERER");
                  var sourcenodenumber = asnlinks[index2].Source_ASN;
                  var targetnodenumber = asnlinks[index2].Target_ASN;
                  var sourcelocation, targetlocation;
                  for (index3 = 0; index3 < nodespluspos.length; index3++) {
                      if (nodespluspos[index3].nodenumber == sourcenodenumber) {
                          sourcelocation = nodespluspos[index3].pos;
                          //console.log(sourcenodenumber);
                      }

                      if (nodespluspos[index3].nodenumber == targetnodenumber) {
                          targetlocation = nodespluspos[index3].pos;
                          //console.log(targetnodenumber);
                      }

                  }
                  if (checkNodenumber(nodespluspos, sourcenodenumber) && checkNodenumber(nodespluspos, targetnodenumber)) {
                      var weight = 1609.34 * 2 * (haversine_distance(sourcelocation, targetlocation)) / (300000000);
                      //console.log(sourcenodenumber); //console.log(targetnodenumber);
                      graph.addEdge(sourcenodenumber, targetnodenumber, weight);
                  }
              }
          }
          return graph;
      }

      function checkNodenumber(nodescheck, nodenumber) {
          var here = false;
          var index;
          for (index = 0; index < nodescheck.length; index++) {
              if (nodescheck[index].nodenumber == nodenumber) {
                  here = true;
                  break;
              }

          }
          return here;

      }

     //Calculate Link DElay
      function haversine_distance(mk1, mk2) {
          var d = 0;
          if (mk1 != null && mk2 != null) {
              var R = 3958.8; // Radius of the Earth in miles
              var rlat1 = mk1.lat * (Math.PI / 180); // Convert degrees to radians
              var rlat2 = mk2.lat * (Math.PI / 180); // Convert degrees to radians
              var difflat = rlat2 - rlat1; // Radian difference (latitudes)
              var difflon = (mk2.lng - mk1.lng) * (Math.PI / 180); // Radian difference (longitudes)

              d = 2 * R * Math.asin(Math.sqrt(Math.sin(difflat / 2) * Math.sin(difflat / 2) + Math.cos(rlat1) * Math.cos(rlat2) * Math.sin(difflon / 2) * Math.sin(difflon / 2)));
          }
          return d;
      }

     //Testing if graph is working well with Dijikstra Algorithm.
      function fav() {
          console.log(addgraphNodes(asn_locations, asn_links));
          var graph = new WeightedGraph();
          //add nodes to the graph
          graph.addVertex("A");
          graph.addVertex("B");
          graph.addVertex("C");
          graph.addVertex("D");
          graph.addVertex("E");
          graph.addVertex("F");

          graph.addEdge("A", "B", 4);
          graph.addEdge("A", "C", 2);
          graph.addEdge("B", "E", 3);
          graph.addEdge("C", "D", 2);
          graph.addEdge("C", "F", 4);
          graph.addEdge("D", "E", 3);
          graph.addEdge("D", "F", 1);
          graph.addEdge("E", "F", 1);

          console.log(graph.Dijkstra("D", "E"));
      }

      function togglemenu(){

      divChild = document.getElementById("menu-toggle1");
      divChild.click(function(e) {
        e.preventDefault();
        divChild2 = document.getElementById("wrapper");
        (divChild2).toggleClass("toggled");
      });

      }
      //helper class for PriorityQueue
</script>

</body>
</html>
